@using MapWebSite.Resources.text
  

   @*Messages container*@
    <div class="form form-hidden" id="messages-container">
        <p id="message-content"></p>
        @Html.ActionLink(TextDictionary.LCEGoToLoginLink, "Index", null, null)
    </div>
 