@model  List<string> 
@{
    Layout = null;
}

    <ul class="chose-criteria-list">
        @foreach (var criteria in Model)
        {
            <li>
                <button  
                        id="chose_criteria_@Html.Raw(criteria)"
                        onclick="changeVisualisationCriteria(this,'@Html.Raw(criteria)')">
                    @Html.Raw(criteria)
                </button> 
            </li>
        }
    </ul>
