@using MapWebSite.Resources.text
@using MapWebSite.Model
@using MapWebSite.Core
@using MapWebSite.Controllers
@using MapWebSite.Types

@*model is represented by section index, used to bind to javascript*@
@model int

@*Generate the id using a random guid to reuse this section*@
    <ul class="current_displayed_menu" id="secondary-menu-items-@Model-@Guid.NewGuid()">

        @if (User.IsInRole(UserRoles.Administrator.GetEnumString()))
        {
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/user_users_icon.svg"></object>
                <button onclick="requestSettingsPage(@Html.Raw((int)SettingsController.Page.ManageUsers), '/Resources/css/settings_users_management.scss')">@TextDictionary.HMenuManageUsersDatapointsText</button>
            </li>           
        }
        <li class="secondary-menu-item">
            <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/info_icon.svg"></object>
            <button onclick="requestSettingsPage(@Html.Raw((int)SettingsController.Page.About), null)">@TextDictionary.HMenuAboutText</button>
        </li>        

    </ul>