
@function get_color($color-name) {
    @return map-get($colors, $color-name)
}

$colors: ( 
    blue:rgba(0, 20, 54 ,1),
    red: red, 
    gray: #535353,
    mediumGray: gray,
    transparentBlue: rgba(0, 20, 54 ,0.33),
    strongTransparentBlue: rgba(0, 20, 54, 0.66),
    light: white,
    lightGray: rgba(250,250,250,1),
    lightPink: #ff9c9c,
    strongPink: #ff7588,
    chromaPurple: #7586ff,
    chromaOrange: #dfba76,
    chromaLightOrange: #ffd689,
    chromaGreen: #b7cca2,
    chromaBlue: #85b7ca,
    chromaRed: #ff6060,
    chromaDarkGreen: #8fb767,
    chromaDarkBlue: #518fa6,
    chromaDarkOrange: orange,
    easeGray: rgba(200,200,200,1),
    easeStrongGray: rgba(180,180,180,1),
    white: white,
    black: black,
    transparentWhite: rgba(255,255,255,0.7),
    primary: black
);

$critical_z_index: 100010;
$principal_z_index: 100000;
$overflow_z_index: 99000;
$low_priority_z_index: 10;
$background_z_index: -10;