@{
    Layout = null;
}

    <div style="padding: 50px" class="mx-0 container">
        <div class="h1">About</div>
        <div class="p-0">Persistent scatterers analysis is a powerful remote sensing technique capable of securing and monitoring the Earth's surface exceedances over time and other natural phenomena such as landslides. Specifically, PSI is a radar-based technique that is part of a group of reflector analysis techniques. </div>

        <div class="p-0">This application is build under MIT Licence.</div>
        <div class="p-1">©ATM - Licență 2020</div>
    </div>
