@model Tuple<int, int>
@{
    Layout = null;
}

<div class="users-management-container">

    <div class="description-container">
        <h1>@TextDictionary.HMenuMUDescriptionTitle</h1>
        <small>@TextDictionary.HMenuMUDescriptionText</small>
    </div>

    <div id="manage-users-container">
        @Html.Hidden("itemsPerPage", Model.Item2)
        @Html.Hidden("pagesCount", Model.Item1 / Model.Item2 + (Model.Item1 % Model.Item2 > 0 ? 1 : 0))
    </div>
    <div id="manage-datasets-container">
    </div>
</div>

<script>
    getScript('#settings-layer', '/Resources/js/settings/settings_manage_users.js');
    if (!(window.drawTables === undefined)) drawTables();
</script>