<div class="fixed-menu">
    <div id="main-menu" class="main-select-menu">
        <div class="main-select-menu-arrows">
            <button onclick="changeMenuContent('up')" class="main-select-menu-arrow-up"></button>
            <button onclick="changeMenuContent('down')" class="main-select-menu-arrow-down"></button>

        </div>
        <div id="main-select-menu-icon" class="main-select-menu-icon">
            <object class="current_displayed_icon" id="main-menu-icon-0" width="120px" height="110px" type="image/svg+xml" data="~/Resources/resources/icons/user_details_icon.svg" )></object>
            <object id="main-menu-icon-1" width="120px" height="110px" type="image/svg+xml" data="~/Resources/resources/icons/user_details_icon.svg" )></object>
        </div>
    </div>

    <nav id="secondary-menu" class="secondary-menu">
        <ul class="current_displayed_menu" id="secondary-menu-items-0">
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/settings_icon.svg"></object>
                <a href="">Settings</a>
            </li>
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/logout_icon.svg"></object>
                <a href="">Logout</a>
            </li>
        </ul>
        <ul id="secondary-menu-items-1">
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/settings_icon.svg"></object>
                <a href="">Settings</a>
            </li>
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/logout_icon.svg"></object>
                <a href="">Logout</a>
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/settings_icon.svg"></object>
                <a href="">Settings</a>
            </li>
            <li class="secondary-menu-item">
                <object width="48px" height="36px" type="image/svg+xml" data="~/Resources/resources/icons/logout_icon.svg"></object>
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/menu")