
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="map-container">
    <div id="map" class="map"></div> 

    <div id="garbage" style="position:absolute; top: 0; right: 0">
        <div id="longitude">No longitude</div>
        <div id="latitude">No latitude</div>
    </div>
</div>