
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="map-container">
    <div id="map" class="map"></div>
</div>


<!--this represents the layer when a point is clicked-->
<div id="point-info" class="point-info-layer" style="display:none">
    <div class="close-button">
        <button onclick="hidePointInfo()">
            <object width="20px" height="30px" type="image/svg+xml" data="~/Resources/resources/icons/arrow_right_icon.svg" )></object>
        </button>
    </div>

    @{ Html.RenderPartial("~/Views/Home/PointInfo.cshtml");}
    
</div>

 
@Scripts.Render("~/scripts/openlayers")
@Scripts.Render("~/scripts/home")