
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="map-container">
    <div id="map" class="map"></div>

   
</div>


<div id="point-info" class="point-info" style="display:none">
    <div class="close-button">
        <button onclick="hidePointInfo()">
            <object width="20px" height="30px" type="image/svg+xml" data="~/Resources/resources/icons/arrow_right_icon.svg" )></object>
        </button>
    </div>

    <div class="info">
        <h3>Longitude:</h3>
        <p id="longitude"></p>
        <h3>Latitude:</h3>
        <p id="latitude"></p>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/openlayers")
@Scripts.Render("~/scripts/home")