<div class="info">
    <h3>Longitude:</h3>
    <p id="longitude"></p>
    <h3>Latitude:</h3>
    <p id="latitude"></p>

    <div class="plot_container">
        <svg class="plot" id="plot" version="1.1" width="1000" height="1000">

        </svg>
        <div class="plot-popup plot-popup-hidden" id="plot-popup">
            <button class="plot-popup-close">X</button>
            <label class="plot-plopup-text"></label>
        </div>
    </div>
</div>

