<aside id="points-settings-layer-container" class="points-settings-layer-container-hidden box">

    <button class="close_points_setting_layer_button" id="close_points_setting_layer_button" onclick="displayPointsLayerPage(false)">
        <object width="14px" height="20px" type="image/svg+xml" data="~/Resources/resources/icons/close_icon.svg" )></object>
    </button>

    <div id="points-settings-layer-container-content">      
    </div>


</aside> 