@import 'colors.scss';

.popup {
    .popup-content {
        .chose-criteria-list {
            list-style: none;
            text-align: left;
            font-size: 0.7em;
            margin: 0;
            padding: 0;
        }
    }
}
