@import 'general/colors.scss';


.popup {
    .popup-content {
        font-size: 0.9em;

        .chose-criteria-list {
            list-style: none;
            text-align: left;
            font-size: 0.8em;
            margin: 0;
            padding: 0;

            button {
                border-radius: 0;
                background: none;
                color: get_color(mediumGray);
                border-left: solid;
                border-left-color: currentcolor;
                border-color: get_color(lightGray);
            }

            .button-selected {
                border-color: get_color(mediumGray);
            }
        }

        .chose-map-list {
            list-style: none;
            text-align: left;
            font-size: 0.8em;
            margin: 0;
            padding: 0;

            img {
                width: 15px;
            }

            button { 
                border-radius: 0;
                background: none;
                color: get_color(mediumGray);
                border-left: solid;
                border-left-color: currentcolor;
                border-color: get_color(lightGray);
            }

            .button-selected {
                border-color: get_color(mediumGray);
            }
        }

        .points-dimension-range {
            display: flex;
            align-items: center;

            small {
                padding: 5px;
                line-height: 14px;
                max-width: 70px;
                min-width: 28px;
            }

            input[type="range"] {
                margin-top: 4px;
            }
        }
    }
}
