@import 'colors.scss';

.popup {
    .popup-content {
        .chose-criteria-list {
            list-style: none;
            text-align: left;
            font-size: 0.7em;
            margin: 0;
            padding: 0;

            button {
                font-size: 0.9em;
                border-radius: 0;
                background: none;
                color: get_color(mediumGray);
                border-left: solid;
                border-left-color: currentcolor;
                border-color: get_color(lightGray);
            }

            .button-selected {
                border-color: get_color(mediumGray);
            }
        }
    }
}
