@import 'general/colors.scss';

.point-info-layer {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 45%;
    right: 0;
    top: 0;
    background: linear-gradient(-90deg,get_color(blue),transparent);
    opacity: 0;
    transition: 0.2s;
    overflow-x: hidden;
    overflow-y: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;

    .close-button {
        float: right;
        margin: 20px;
        pointer-events: initial;
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        z-index: $overflow_z_index;

        button {
            background: none;
            border: none;
            transition: 0.3s;
            padding: 5px 8px 0px 9px;
        }

        button:hover {
            background: orange;
            border-radius: 10px;
        }

        object {
            pointer-events: none;
        }
    }

    .info {
        pointer-events: none;

        hr {
            border: solid;
            margin-top: -10px;
            border-color: white;
            border-width: 1px;
        }

        .plot-area {
            display: flex;
            align-items: center;
            height: 55%;
        }

        .text {
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-template-areas: "left right";


            .left-area {
                grid-area: left;

                h3 {
                    margin: 0;
                }
            }
        }

        width: 58%;
        height: 100%;
        margin: 0 auto;
        margin-right: 100px;
        margin-top: 100px;
        color: white;
        cursor: default;


        ul {
            grid-area: right;
            list-style: none;

            li {
                padding-bottom: 5px;
                height: 30px;
                white-space: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .value {
                    float: right;
                    font-weight: 700;
                    font-weight: 100;
                }

                label {
                    overflow: hidden;
                }
            }
        }
    }
}

/*Styles related to popup*/

.point-info-popup {
    .popup-body {
        display: grid;
        height: calc(100% - 20px);
        grid-template-columns: auto 100px;

        .popup-plot-container {
            grid-column: 1;
            grid-row: 1;
        }

        .popup-data-container {
            grid-column: 2;
            grid-row: 1;
            padding: 8px;
            display: block;

            p {
                line-height: 1.1;
                margin: 0 0 -4px;
                font-size: small;
                color: get_color(easeStrongGray);
            }

            label {
                font-size: x-small;
                color: get_color(gray);
            }
        }
    }
}