@import 'general/colors.scss';


*:focus {
    outline: none!important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: get_color(transparentWhite);
}

::-moz-placeholder { /* Firefox 19+ */
    color: get_color(transparentWhite);
}

:-ms-input-placeholder { /* IE 10+ */
    color: get_color(transparentWhite);
}

:-moz-placeholder { /* Firefox 18- */
    color: get_color(transparentWhite);
}

a, input, button {
    transition: 0.3s;
    padding: 5px 15px 5px 15px;
}

input, button {
    background: get_color(chromaOrange);

    border: none;
    border-radius: 8px;
    color: white;
}

.default-input {
    background: rgba(255,255,255,0.08);
    margin:  5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    border: none;
    border-color: white;
    color: white;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    width: 250px;
    transition: 0.3s;
    border-radius: 2px;
}


.default-input:hover, .default-input:hover{
    background-color: rgba(255,255,255,0.2);
}

.default-input:focus, .default-input:focus{
    background-color: rgba(255,255,255,0.3);
}

.default-input:focus+.input-border{
    width: 250px;
    background-color: white;
}

input[type=submit]{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

input[type=range] {
    -webkit-appearance: none;
    background: get_color(easeGray);
    padding: 0;
    width: 100%;
    height: 3px;
    margin: 2px;

    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: get_color(chromaOrange);
    border-radius: 12px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: get_color(chromaOrange);
    cursor: pointer;
}

.input-border {
    height: 2px;
    width: 0px;
    margin-right: auto;
    margin-left: auto;
    transition: .3s width ease-in-out;
    position: relative;
    top: -21px;
} 

 


.default-button{
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    border: none;
    padding: 5px 20px 5px 20px;
    transition: 0.3s;
    color: white;
}

.default-button:hover {
    background-color: get_color(chromaDarkOrange);
}


 