/**
    Css used for login layout
*/

@import './controls/input.scss';
@import 'general/application.scss';

body, html {
    height: 100%;
    color: white;
}

body {
    background-image: url("../resources/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

#main-content{
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

    input:invalid {
        box-shadow: none;
    }

    .message-success {
        color: get_color(chromaGreen);
    }

    .message-error {
        color: get_color(chromaRed);
    }

    #register-form {
        input[type="text"],
        input[type="password"] {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .input-border {
            top: -4px;
        }

        .register-message {
            width: 400px;
            font-weight: 200;
        }

        .input-error {
            border-left: solid get_color(chromaRed) 2px !important;
        }

        .input-valid {
            border-left: solid get_color(chromaGreen) 2px !important;
        }

        .register-content {
            display: grid;
            grid-template-areas: "username name" "email name" "activation-link activation-link" "password password";

            input {
                width: 200px;
                margin: 5px;
                text-align: left;
                border-left: solid transparent 2px;
            }

            .data-group {
                margin: 5px;
                text-align: left;

                object {
                    margin-top: 7px;
                }
            }

            .username-group {
                grid-area: username;
            }

            .email-group {
                grid-area: email;
            }

            .name-group {
                grid-area: name;
            }

            .activation-link-group {
                grid-area: activation-link;

                input {
                    width: 422px;
                }
            }

            .password-group {
                grid-area: password;

                .password-box {
                    display: flex;
                    align-items: center;


                    span {
                        padding: 0;
                        background: none;
                        margin-left: -40px;
                        margin-top: 5px;
                    }

                    input {
                        width: 420px;
                    }
                }
            }
        }
    }

    .button-group {
        text-align: center;
        margin: 10px;
    }

    .form {
        display: inline-block;
        transition: 2s;
        transition-delay: 0.2s;
        overflow: hidden;



        a {
            font-size: 11px;
            transition: 0.3s;
        }

        a:hover {
            color: get_color(chromaBlue);
        }
    }

    .form-hidden {
        visibility: collapse;
        opacity: 0;
        height: 0;
        width: 0;
    }

    input[type="submit"], button {
        display: inline-block;
        width: 80px;
        margin: 5px;
    }
}

.error-message {
    color: red;
}

.main-logo {
    height: 370px;
    width: 420px;
    opacity: 0.9;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    padding-left: 15px;
    transition: 0.4s;
}

.main-logo-hidden {
    height: 50px;
    width: 50px;
    opacity: 0;
    visibility: hidden;
}

.main-title {
    text-align: center;
    color: white;
}



p {
    text-align: center;
    color: white;
}



#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}
