@import 'general/colors.scss';

.map-container {
    padding: 0 !important;
    width: 100% !important;
    height: 100%;
    z-index: $background_z_index;
}

.map {
    width: 100%;
    height: 100%;
}
