@import 'colors.scss';

.fixed-menu:hover {

    .secondary-menu {
        ul {
            margin-left: 0;

            .secondary-menu-item {
                object {
                    background: get_color(strongTransparentBlue);
                }
            }
        }
    }

    .main-select-menu {
        background: get_color(strongTransparentBlue);
        margin: 0px;
        padding-top: 46px;
    }

    .top-menu {
 
        button:hover:disabled {
            cursor: default;
        }
    }
}



.fixed-menu {
    z-index: $principal_z_index;


    .main-select-menu {
        z-index: $principal_z_index;
        position: fixed;
        display: flex;
        bottom: 0;
        height: 173px;
        padding: 36px 10px 0px 13px;
        background: get_color(transparentBlue);
        transition: 0.3s;
        border-radius: 100px;
        margin: -35px;

        .main-select-menu-arrows {
            position: relative;
            display: block;
            width: 30px;
            display: inline-block;

            .main-select-menu-arrow-up {
                margin-top: 10px;
                border-radius: 5px;
                background: none;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 10px 16px 10px;
                padding: 0;
                transition: 0.3s;
                border-color: transparent transparent #FFF transparent;
            }

            .main-select-menu-arrow-up:hover {
                border-color: transparent transparent orange transparent;
            }

            .main-select-menu-arrow-down {
                margin-top: 10px;
                border-radius: 5px;
                background: none;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 16px 10px 0 10px;
                padding: 0;
                transition: 0.3s;
                border-color: #FFF transparent transparent transparent;
            }

            .main-select-menu-arrow-down:hover {
                border-color: orange transparent transparent transparent;
            }
        }

        .main-select-menu-icon {
            position: relative;
            margin-left: -5px;
            margin-top: -12px;

            object {
                position: absolute;
                /*value which send the menu content off ov view*/
                left: -1000px;
                padding: 12px;
            }



            .current_displayed_icon {
                position: relative;
                left: initial;
                visibility: visible;
            }
        }
    }


    .main-select-menu-nontransparent {
        background: get_color(strongTransparentBlue);
        margin: 0px;
        padding-top: 46px;
    }

    .secondary-menu {
        z-index: $principal_z_index;
        position: fixed;
        top: 10px;
        left: 0;
        transition: 0.3s;

        .current_displayed_menu {
            display: block;
        }

        ul:hover {
            margin-left: 0;
        }

        ul {
            display: none;
            padding: 0;
            list-style: none;
            margin: 0;
            margin-left: -30px;
            transition: 0.3s;

            .secondary-menu-item {
                text-align: left;
                display: flex;

                object {
                    background-color: get_color(transparentBlue);
                    padding: 10px;
                    margin: 0;
                    margin-left: -5px;
                    border-right: solid white;
                }

                button {
                    border: none;
                    text-align: left;
                    white-space: nowrap;
                }

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    white-space: nowrap;
                    overflow: hidden;
                }

                a, button {
                    margin: 0;
                    padding-right: 10px;
                    padding-left: 4px;
                    color: white;
                    width: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: width 0.2s ease-in-out, opacity 0.1s linear, background 0.3s;
                    border-radius: 0px 3px 3px 0;
                }

                object:hover + a, object:hover + button {
                    background: get_color(strongTransparentBlue);
                    opacity: 1;
                    width: 150px;
                    visibility: visible;
                }

                a:hover, button:hover {
                    background: get_color(chromaOrange);
                    opacity: 1;
                    width: 140px;
                    visibility: visible;
                }
            }
        }
    }


    .secondary-menu-nontransparent {

        ul {
            margin-left: 0;
        }

        object {
            background: get_color(strongTransparentBlue) !important;
        }
    }

    .top-menu {
        z-index: $principal_z_index;
        position: fixed;
        top: 5px;
        right: 5px;
        margin-left: -150px;
        transition: 0.3s;
        display: inline-flex;
        align-items: center;

        .pre-text-area {
            display: table;
            padding: 10px;

            .notification-button {
                border-left: solid;
                border-radius: 0;
                margin-left: 10px;
                padding-left: 7px;
            }

            button {
                padding: 0;
                background: none;
                vertical-align: middle;

                svg {
                    .cls-2, .cls-4, .cls-13, .e_cls-1 {
                        transition: fill .3s linear;
                    }

                    margin: 3px;
                    filter: drop-shadow(3px 1px 3px get_color(strongTransparentBlue));
                }
            }

            button:hover {
                background: none;

                svg {
                    .cls-2, .cls-4, .cls-13, .e_cls-1 {
                        fill: get_color(strongTransparentBlue);
                    }

                    path, polyline {
                    }
                }
            }
        }

        .white-area {
            display: grid;
            grid-template-areas: "left right";
            padding: 10px;

            .text-area {
                display: table-cell;
                grid-area: left;
                font-size: 13px;
                margin: auto 0;
                vertical-align: middle;

                label {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: 100;
                    margin: 0;
                }

                .current-dataset-text {
                    width: 100px;
                }
            }

            .buttons-area {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 70px;
                grid-area: right;

                button {
                    display: inline-flex !important;
                    justify-content: center;
                    align-items: center;
                    width: 22px;
                    height: 24px;
                    margin: 1px 1px 1px 2px;
                    cursor: pointer;
                    opacity: 0.7;
                    padding: 12px;
                    border-radius: 5px;
                }
 

                button-selected {
                    background: orange;
                }

                object {
                    pointer-events: none;
                }
            }
        }
    }

    .top-menu-hiden {
        margin-top: -100px;
        opacity: 0;
        visibility: hidden;
    }
}
