@import 'general/colors.scss';

.plot_container {
    width: 530px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "plot menu";
    /*remainder: add point-event if another items are added inside*/
    .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%; /* aspect ratio */
        vertical-align: top;
        overflow: hidden;
    }

    .svg-content-responsive {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 0;
    }



    .plot {
        width: 530px;
        height: 340px;
        grid-area: plot;
        pointer-events: initial;

        .graphPoint {
            pointer-events: initial;
            transition: 0.15s;
            stroke: white;
            fill: none;
        }

        .graphPointDot {
            fill: white;
        }

        .graphPointDot:hover {
            fill: orange;
        }

        .graphPoint:hover {
            stroke: orange;
        }

        line {
            stroke: rgb(255, 255, 255);
            stroke-width: 0.5px;
        }
    }

    ul {
        grid-area: menu !important;
    }

    .plot-menu {
        padding: 15px;
        display: flex !important;
        flex-direction: column;

        hr {
            border: solid 2px get_color(chromaOrange) !important;
            margin: 4px !important;
        }


        .plot-menu-item {


            button {
                pointer-events: initial;
                margin: 2px;
                height: 30px;
                background: none;
                padding: 4px;

                object {
                    pointer-events: none;
                }
            }


            button:hover {
                background: rgba(0,0,0,0.3);
            }
        }

        .plot-menu-item-end {
            margin-top: auto;
        }
    }

    .plot-popup {
        pointer-events: initial;
        position: fixed;
        margin: 5px;
        top: 500px;
        width: 100px;
        height: 45px;
        border-radius: 5px;
        background: white;
        box-shadow: 0px 0px 17px 0px #1b1a62c7;
        padding: 5px;

        label {
            color: black;
            vertical-align: middle;
            font-weight: 100;
            font-size: 11px;
        }

        button {
            position: absolute;
            right: 2px;
            top: 2px;
            color: white;
            background: orange;
            border: none;
            border-radius: 5px;
            padding: 0 4px 0 4px;
        }

        button:hover {
            cursor: pointer;
            background: rgb(175, 114, 33);
        }
    }

    .plot-popup-hidden {
        visibility: hidden;

        button {
            opacity: 0;
        }
    }

    h3 {
        position: absolute;
        left: 50%;
    }
}
