@import 'general/colors.scss';

$page_margin: 50px;
$color_picker_container_width: 870px;

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.color-picker-content {

    label {
        color: get_color(gray);
    }

    position: relative;
    padding: $page_margin;

    article, h1 {
        text-align: center;
    }

    h1 {
        margin-bottom: 35px;
    }

    .color-palette-panel {
        top: 20px;
        position: relative;
        width: $color_picker_container_width;
        height: 185px;
        padding: $page_margin;
        margin-left: auto;
        margin-right: auto;
        background: rgb(227, 227, 227); //TODO: make color to be accesed via variable
        user-select: none;
        border-radius: 4px;
        display: grid;
        grid-template: "header-left ." "left right";
        grid-template-columns: 45% 55%;


        h4 {
            grid-area: header-left;
            text-align: left;
            margin-top: -20px;
        }


        .controls {
            .setting-item {
                margin-left: 30px;                      
            }

            grid-area: left;
            text-align: left;
            display: block;
        }

        .palette-templates-container {
            grid-area: right;

            h5 {
                text-align: left;
                margin-top: -30px;
            }

            .palette-templates {
                height: 80px;
                display: flex;
                flex-wrap: wrap;
                overflow-y: auto;

                .template-card {
                    width: 87px;

                    button {
                        transition: 0.3s;
                        padding: initial;
                        margin: initial;
                        background: none;
                        border-radius: 5px;
                        background: get_color(transparentBlack);

                        img {
                            width: 70px;
                            height: 50px;
                            padding: 6px;
                        }
                    }

                    button:hover {
                        background: get_color(easeGray);
                    }
                }
            }
        }
    }

    .color-picker-container {
        height: 65px;
        width: $color_picker_container_width;
        position: relative;
        user-select: none;
        border-radius: 4px;
        background: rgb(227, 227, 227); //TODO: make color to be accesed via variable
        margin-left: auto;
        margin-right: auto;
        top: 30px;
        left: 0;
        right: 0;

        label, input {
            position: absolute;
            top: 38px;
            width: 50px;
            background: #fff;
            border-radius: 9px;
            text-align: center;
            color: black;
            padding: 5px;
            font-size: 8px;
        }

        .bar {
            position: absolute;
            padding: 0;
            top: 21px;
            left: 30px;
            width: 800px;
            border: none;
            height: 4px;
            background: rgb(54, 31, 156); //TODO: make color to be accesed via variable
            user-select: none;
        }

        .dot {
            height: 25px;
            width: 25px;
            background-color: rgb(54, 31, 156); //TODO: make color to be accesed via variable
            border-radius: 50%;
            display: inline-block;
            user-select: none;
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 999;
            transition: 0.3s;
            cursor: pointer;
        }


        .dot:hover {
            height: 27px;
            width: 27px;
            top: 9px;
        }
    }
}

.color-picker-info-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 50px;
    width: 100%;

    h1 {
        text-align: center;
    }

    .instructions-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        article {
            color: black;
            padding: 50px;
            margin: 35px;
            text-align: center;
            background-color: rgb(227, 227, 227); //TODO: make color to be accesed via variable
            border-radius: 10px;
            max-width: 400px;
            height: 400px;
            box-shadow: 17px 17px 0px get_color(chromaOrange);

            input, button {
                color: white;
            }

            input[type="text"] {
                margin-top: 32px;
            }

            button {
                margin-top: 36px;
            }
        }
    }
}



.color-picker {
    position: absolute;
    background: rgb(227, 227, 227); //TODO: make color to be accesed via variable
    z-index: $principal_z_index;
    border-radius: 4px;
    top: 680px;

    .color-picker-tumb {
        content: '';
        position: absolute;
        top: 0;
        left: 19px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid;
        border-bottom-color: rgb(227, 227, 227); //TODO: make color to be accesed via variable
        margin-top: -15px;
    }

    .color-container {
        height: 120px;
        width: 170px;

        .main-color-list {
            display: flex;
            align-content: center;
            justify-content: center;

            span {
                cursor: pointer;
                width: 10px;
                height: 10px;
                margin: 3px;
                border-radius: 10px;
            }
        }
    }

    .palette-active {
        display: block;
    }

    table {
        display: none;
        border-collapse: collapse;
        margin: 7px;
        padding-top: 10px;
    }

    table, td, th {
        border-spacing: 6px;
        border-collapse: separate;
    }

    th {
        cursor: pointer;
        margin: 2px;
        height: 12px;
        width: 12px;
    }

    button {
        background: #fff;
        color: rgb(100,100,100);
        border: none;
        border-radius: 2px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 2px 10px 2px 10px;
        transition: 0.3s;
        cursor: pointer;
        width: 50px;
    }


    button:hover {
        color: white;
        background: orange;
    }

    .close-button {
        left: 10px;
    }

    .close-button:hover {
        background: red;
    }
}

.color-picker-hidden {
    display: none;
}
