.tooltip{
    position: absolute;
    padding: 10px;
    min-width: 20px;
    min-height: 20px;
    pointer-events: none;
    background: white;
    opacity: 1;

    .tooltip-body{
        pointer-events: none;
    }

    transition: 0.3s;
}

.tooltip-hidden{
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

