<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CassandraServer" value="127.0.0.1" />
    <add key="CassandraKeyspace" value="usersdatapoints" />
    <!--Configure the service timer (seconds)-->
    <add key="ServiceTimer" value="10" />
    <add key="LogEntryName" value="CustomServices" />
    <add key="LogSourceName" value="MapWebSite.DataPointsService service" />

    <!--This entry must be the same with the one inside  Website configuration file-->
    <add key="DataPointsSourceFileName" value="__OK"/>
    <!--This path must be the same with the one inside Website configuration file-->
    <add key="PointsDatasetsCheckpointFolder" value="E:\Application Service Files\Files Checkpoint" />

    <add key="PointsDatasetsParsedFolder" value="E:\Application Service Files\Files Parsed" />

    <add key="DataSetsHeaderFile" value="C:\Users\Administrator\Downloads\header.txt" />

  </appSettings>

  <connectionStrings>
    <add name="PersistantScatterersDatabase" connectionString="Data Source=(local); Initial Catalog=PersistantScatterersDatabase; Integrated Security=SSPI;Connection Timeout=200" />
  </connectionStrings>
</configuration>