<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Configure the service timer (seconds)-->
    <add key="ServiceTimer" value="10" />
    <add key="LogEntryName" value="CustomServices"/>
    <add key="LogSourceName" value="MapWebSite.DataPointsService service"/>
    
    <!--This entry must be the same with the one inside  Website configuration file-->
    <add key="DataPointsSourceFileName" value="__OK"/>
    <!--This path must be the same with the one inside Website configuration file-->
    <add key="PointsDatasetsCheckpointFolder" value="P:\Projects\Licence\Main\data\Points datasets checkpoint" />

    <add key="PointsDatasetsParsedFolder" value="P:\Projects\Licence\Main\data\Points datasets parsed"/>

    <add key="DataSetsHeaderFile" value="P:\Projects\Licence\Main\docs\Data points\Constanta\header.txt"/>
    
  </appSettings>
</configuration>