@import 'colors.scss';

.point-info-layer {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 45%;
    right: 0;
    top: 0;
    background: linear-gradient(-90deg,get_color(blue),transparent);
    opacity: 0;
    transition: 0.2s;
    overflow-x: hidden;

    .close-button {
        float: right;
        margin: 20px;
        pointer-events: initial;

        button {
            background: none;
            border: none;
            transition: 0.3s;
        }

        button:hover {
            background: orange;
            padding: 4px 8px 0px 9px;
            border-radius: 10px;
        }

        object {
            pointer-events: none;
        }
    }

    .info {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        color: white;
        cursor: default;
        pointer-events: initial;


        h3 {
            margin: 0;
        }
    }
}
