@import 'map.scss';
@import 'menu.scss';
@import 'home_point_info_layer.scss';
@import 'home_settings_layer.scss';
@import 'home_points_settings_layer.scss';
@import 'scrollbar.scss';
@import 'select.scss';
@import 'colors.scss';

::selection {
    background: none;
    cursor: initial;
}

body, html {
    height: 100%;
    color: white;
}

input, button {
    margin: 10px;
    background: get_color(chromaOrange);   
    transition: 0.3s;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 8px;
    color: white;
}


button:disabled {
    background-color: gray;
}

button:disabled:hover {
    background-color: gray;
}

input:hover, button:hover {
    background: orange;
}

