@import 'colors.scss';

#settings-layer-container {
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 1;

    .loading-icon {
        position: absolute;
        top: 43%;
        left: 47%;
        z-index: 1001;
        transition: 0.3s;
    }

    .loading-icon-hide {
        width: 94px;
        height: 0px;
    }

    .settings-layer {
        position: absolute;
        background-color: #FFF;
        width: 100%;
        height: 100%;
        top: 0;
        transition: 0.7s;
    }

    .settings-layer-hide {
        width: 0;
    }

    .close_setting_layer_button {
        position: fixed;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        transition: 0.3s;
        padding: 4px 8px 0 8px;
        border-radius: 7px;

        object {
            pointer-events: none;
        }
    }

    .close_setting_layer_button:hover {
        background: #ffa740;
    }
}

.settings-layer-container-hide {
    visibility: hidden ;
    opacity: 0;
}