@import 'input'; 
@import 'colors.scss';
@import 'texts.scss';

body, html{
    height: 100%;
    color: white;
}

body{
    background-image: url("../resources/background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover; 
     
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

    input:invalid {
        box-shadow: none;
    }


    #register-form {
        input[type="text"],
        input[type="password"] {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .input-border {
            top: -4px;
        }

        .register-message {
            font-weight: 200;
        }

        .register-success {
            color: get_color(chromaGreen);
        }

        .register-error {
            color: get_color(chromaRed);
        }
    }

    .button-group {
        text-align: center;
    }

    .form {
        display: inline-block;
        transition: 1s;
        overflow: hidden;
        height: 285px;

        a {
            font-size: 11px;
            transition: 0.3s;
        }

        a:hover {
            color: get_color(chromaBlue);
        }
    }

    .form-hidden {
        visibility: collapse;
        opacity: 0;
        width: 0;
    }

    input[type="submit"] {
        display: inline-block;
        width: 100px;
        margin: 5px;
    }
}

.error-message {
    color: red;
}

.main-logo{
    height: 400px;
    width: 450px;
    opacity: 0.9;
    display: block;
    margin: 0 auto; 
    margin-top: -20px;
    padding-left: 15px;
}

.main-title{
    text-align: center;   
    color: white;
}



p{
    text-align: center;
    color: white;
}
 


#canvas{ 
    position: absolute;
}