@import 'colors.scss';

html, body {
    font-family: Arial, Helvetica, sans-serif;
}


.color-picker-container {
    height: 65px;
    width: 870px;
    position: relative;
    user-select: none;
    border-radius: 4px;
    background: rgb(227, 227, 227); //TODO: make color to be accesed via variable
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    label {
        position: absolute;
        top: 38px;
        background: #fff;
        border-radius: 9px;
        font-size: 11px;
        text-align: center;
        padding: 3px;
    }

    .bar {
        position: absolute;
        padding: 0;
        top: 21px;
        left: 30px;
        width: 800px;
        border: none;
        height: 4px;
        background: rgb(54, 31, 156); //TODO: make color to be accesed via variable
        user-select: none;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: rgb(54, 31, 156); //TODO: make color to be accesed via variable
        border-radius: 50%;
        display: inline-block;
        user-select: none;
        position: absolute;
        left: 30px;
        top: 10px;
        z-index: 999;
        transition: 0.3s;
        cursor: pointer;
    }


    .dot:hover {
        height: 27px;
        width: 27px;
        top: 9px;
    }
}

.color-picker-info-container {
    position: relative;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    h1 {
        text-align: center;
    }

    .instructions-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        article {
            color: black;
            padding: 50px;
            margin: 35px;
            text-align: center;
            background-color: rgb(227, 227, 227); //TODO: make color to be accesed via variable
            border-radius: 10px;
            max-width: 300px;
            height: 400px;
            box-shadow: 17px 17px 0px get_color(chromaOrange);

            input, button {
                color: white;
            }

            input[type="text"] {
                margin-top: 32px;
            }

            button {
                margin-top: 11px;
            }
        }
    }
}



.color-picker {
    position: absolute;
    background: rgb(227, 227, 227); //TODO: make color to be accesed via variable
    z-index: 1000;
    border-radius: 4px;
    top: 170px;

    .color-picker-tumb {
        content: '';
        position: absolute;
        top: 0;
        left: 19px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 16px solid;
        border-bottom-color: rgb(227, 227, 227); //TODO: make color to be accesed via variable
        margin-top: -15px;
    }

    .color-container {
        height: 120px;
        width: 170px;
    }

    table {
        border-collapse: collapse;
        margin: 7px;
        padding-top: 17px;
    }

    table, td, th {
        border-spacing: 6px;
        border-collapse: separate;
    }

    th {
        cursor: pointer;
        margin: 2px;
        height: 12px;
        width: 12px;
    }

    button {
        background: #fff;
        color: rgb(100,100,100);
        border: none;
        border-radius: 2px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 2px 10px 2px 10px;
        transition: 0.3s;
        cursor: pointer;
        width: 50px;
    }


    button:hover {
        color: white;
        background: orange;
    }

    .close-button {
        left: 10px;
    }

    .close-button:hover {
        background: red;
    }
}

.color-picker-hidden {
    display: none;
}
