
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div id="map-container" class="map-container">
    <div id="map" class="map"></div>
</div>

<div id="hub-loading-spinner" class="small-loading-spinner small-loading-spinner-hidden"><div></div><div></div></div>


@*this represents the layer visible when a point is clicked*@
<div id="point-info" class="point-info-layer">
    <div class="close-button">
        <button onclick="CreatePopupWindow()">
            <object width="22px" height="18px" type="image/svg+xml" data="~/Resources/resources/icons/add_icon.svg"></object>
        </button>
        <button id="create_popup_window_button" onclick="CreatePopupWindow()">
            <object width="25px" height="18px" type="image/svg+xml" data="~/Resources/resources/icons/window_icon.svg"></object>
        </button>
        <button onclick="HidePointInfo(true)">
            <object width="23px" height="18px" type="image/svg+xml" data="~/Resources/resources/icons/arrow_right_icon.svg"></object>
        </button>
    </div>

    @{ Html.RenderPartial("~/Views/Home/PointInfo.cshtml");}

</div>

@*
@{ Html.RenderPartial("~/Views/Home/ApplicationMessage.cshtml"); }
*@

@Scripts.RenderFormat("<script src={0} type='module'></script>", "~/scripts/openlayers")
@Scripts.RenderFormat("<script src={0} type='module'></script>", "~/scripts/home")