@{
    Layout = null;
}

<div id="color-picker-container"
     class="color-picker-container"
     onmousemove="changePosition()"
     onmousedown="changeButtonState(true)"
     onmouseup="changeButtonState(false)">
    <button id="slider" class="bar" onclick="addDot()"></button>
    <div id="dots-container">
        <span draggable="false" id="dot-1" class="dot" onmousedown="changeSelectedDot()"></span>
        <label style="left:30px">0%</label>
        <label style="left:816px">100%</label>
    </div>
</div>

<div id="color-picker" class="color-picker color-picker-hidden">
    <div class="color-picker-tumb"></div>
    <div class="color-container">
        <table>
            <tr>
                <th onclick="changeSpanColor('#b9475b')" style="background: #b9475b" />
                <th onclick="changeSpanColor('#4947b9')" style="background: #4947b9" />
                <th onclick="changeSpanColor('#53b947')" style="background: #53b947" />
                <th onclick="changeSpanColor('#b98847')" style="background: #b98847" />
                <th onclick="changeSpanColor('#b547b9')" style="background: #b547b9" />
                <th onclick="changeSpanColor('#142564')" style="background: #142564" />
                <th onclick="changeSpanColor('#1c6414')" style="background: #1c6414" />
                <th onclick="changeSpanColor('#e3a134')" style="background: #e3a134" />
            </tr>
            <tr>
                <th onclick="changeSpanColor('#575757')" style="background: #575757" />
                <th onclick="changeSpanColor('#fffe00')" style="background: #fffe00" />
                <th onclick="changeSpanColor('#18ac1e')" style="background: #18ac1e" />
                <th onclick="changeSpanColor('#ec1717')" style="background: #ec1717" />
                <th onclick="changeSpanColor('#3cb3ab')" style="background: #3cb3ab" />
                <th onclick="changeSpanColor('#ffff63')" style="background: #ffff63" />
                <th onclick="changeSpanColor('#e86751')" style="background: #e86751" />
                <th onclick="changeSpanColor('#201d1d')" style="background: #201d1d" />
            </tr>
        </table>

        <button onclick="changeColorPickerVisibility(false)">done</button>
    </div>
</div>

@Scripts.Render("~/scripts/color_picker")