.tooltip {
    .tutorial-content-tooltip {
        img {
            height: 125px;
            width: 100%;
            border-radius: 4px;
        }

        .tooltip-text{
            padding: 5px;
        }
    }
}
